
    /*eliminia los bordes predeterminados de la pagina web*/
* {             
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #1e2a47; /* Azul claro */
    color: #e0f7fa; 
    overflow-x: hidden;
}

/**tabla**/
th{
    border-collapse: collapse;
    width: 100%;
    border: #004d7a ;
    background-color:#004d7a  ;
    text-align: center;
    padding: 1em 5vw;
}
.table{
    table-layout: fixed;
   
    width: 100vw;

}

.sky-container {
    position: relative;
    width: 100%;
    height: 100vh; /* O ajusta según la altura deseada */
    overflow: hidden;
}

.margen{
    padding-left: 5%;
    padding-right: 5%;
}

.cuadrado{
   width: 100vw;
  height: 500px;
  background-color: #1e6f95;
  position: relative;
  margin-bottom: 200px;
  z-index: -1;
}

.imagen{
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Ajusta el tamaño de la imagen según necesites */
    height: auto;
}

.carrusel {
  position: relative;
  width: 100vw;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carrusel-imagenes {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; /* 3 imágenes */
}

.carrusel-imagenes img {
  width: 100vw;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
}

.anterior,
.siguiente {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.anterior {
  left: 10px;
}

.siguiente {
  right: 10px;
}

h1{
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 6vw;
}
h2{
    font-size: 3vw;
}
ul {
    margin-left: 30px;
}
li{
    font-size: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.nube{
    width: 100vw;
    display: block;
    margin-top: -400px;
}
.nube2{
    width: 100vw;
    display: block;
    margin-top: -410px;
}
.nube3{
    width: 100vw;
    display: block;
    margin-top: -340px;
}
.nube4{
    width: 100vw;
    display: block;
    margin-top: -24px;
}

.nubeS1{
    width: 15vw;   
    max-width: 150px;
    position: absolute;
    top: 100px;
    left: 70%;
}
.nubeS2{
    width: 15vw;   
    max-width: 150px;   
    position: absolute;
    top: 300px;
    left: 85%;
}
.nubeS3{
    width: 15vw;   
    max-width: 150px; 
    position: absolute;
    top: 200px;
    left: 5%;
}
@media (max-width: 768px) {
    .margen {
        padding-left: 5%;
        padding-right: 5%;
    }

    .nubeS1, .nubeS2, .nubeS3 {
        width: 100px;
        left: auto;
        right: 10px;
    }

    .cuadrado {
        height: 300px;
    }

    .anterior, .siguiente {
        font-size: 1.5rem;
        padding: 5px;
    }
}
